<ion-view view-title="Base" can-swipe-back="false">
  <ion-header-bar class="base-header">
    <h1 class="title page-title">capablanca</h1>
    <div class="buttons" ng-click="newBook()">
      <button class="button button-small icon-right ion-plus-round c-plus" disabled></button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false">
    <img src="img/border.png" class="color-border"/>
    <h1 class="section-label">Your Books</h1>
    <div class="row book-row">
      <div class="col col-50" ng-repeat="book in books.slice().reverse()">
        <div ng-click="goto(book.id)">
          <div class="card book-card">
            <div class="item item-text-wrap" ng-bind="book.title">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
