<ion-view view-title="{{book.title}}">
  <ion-header-bar id="new-book-header">
    <div class="close-settings buttons">
      <button class="button ion-chevron-left larger c-plus" disabled></button>
    </div>
    <h1 class="title page-title">book</h1>
    <div class="close-settings buttons" ng-click="captureAudio()">
      <button class="button button-small icon-right" disabled></button>
    </div>
    <div class="close-settings buttons" ng-click="uploadPhoto()">
      <button class="button button-small icon-right ion-camera c-plus" disabled></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <h1 class="section-label">Description</h1>
    <p ng-bind="book.description"></p>
    <h1 class="section-label">Pages</h1>
    <div class="row book-row">
      <div class="col col-50" ng-repeat="page in pages.slice().reverse()">
        <div ng-click="selectPage()">
          <div class="card book-card">
            <div class="item item-text-wrap" ng-bind="page.data.title">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
