<ion-modal-view>
  <ion-header-bar id="new-book-header">
    <h1 class="title page-title">Page</h1>
    <div class="close-settings buttons" ng-click="closePage()">
      <button class="button button-small icon-right ion-close-round c-plus" disabled></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <h1 ng-bind="selectPage.title"></h1>
    <h4 class="section-label">Keywords</h4>
    <p class="pfix" ng-repeat="keyword in pageData.keywords" ng-bind="'— ' + keyword"></p>
    <h4 class="section-label">Summary</h4>
    <p class="pfix" ng-repeat="sentence in pageData.summary" ng-bind="sentence"></p>
    <h4 class="section-label">Text</h4>
    <p class="pfix" ng-bind="pageData.text"></p>
    <h4 class="section-label">Sentiment</h4>
    <p class="pfix" ng-bind="pageData.sentiment"></p>
    <h4 class="section-label">Sentiment Score</h4>
    <p class="pfix" ng-bind="pageData.sentiment_score"></p>
  </ion-content>
</ion-modal-view>
