<ion-modal-view>
  <ion-header-bar id="new-book-header">
    <h1 class="title page-title">Page</h1>
    <div class="close-settings buttons" ng-click="closePage()">
      <button class="button button-small icon-right ion-close-round c-plus" disabled></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-spinner class="spinner-energized" ng-show="showLoadingSpinner"></ion-spinner>
    <h1 ng-bind="selectPage.title"></h1>
    <h4>Keywords</h4>
    <p ng-repeat="keyword in bookData.keywords" ng-bind="keyword"></p>
    <h4>Summary</h4>
    <p ng-bind="bookData.summary[0].sentence"></p>
    <h4>Text</h4>
    <p ng-bind="bookData.text"></p>
    <h4>Sentiment</h4>
    <p ng-bind="bookData.sentiment"></p>
    <h4>Sentiment Score</h4>
    <p ng-bind="bookData.sentiment_score"></p>
  </ion-content>
</ion-modal-view>
